// FONTS
$first-font: 'Montserrat', 'Arial', sans-serif;
$second-font: 'Barlow';

//FONT COLORS
$nav-font-color: #fff;
$section-agents-title: rgba(0, 0, 0, 0);
$section-skill-info-title: #c4c4c4;

//  COLORS
$body-color: #1f2326;
$header-color: #1f2326;
$main-color: rgb(255, 70, 86);
$agents-card-bg: #1f2326;
$footer-bg: #f8f8f8;
$skill-info-item: #f8f8f8;

//media
$mobile-bp-max: 767px;
$mobile-w-min: 310px;

$tablet-bp-min: 768px;
$tablet-w: 740px;
$tablet-bp-max: 1279px;

$desktop-bp-min: 1280px;
$desktop-w: 1100px;
