.page-main {
  padding-top: 100px;
  padding-bottom: 266px;
  max-width: 1250px;
  margin: 0 auto;
  background: url('../images/main/background.png') no-repeat center $main-color;
  background-size: cover;
}
